.playersContainer {
    display: flex;
    flex-wrap: wrap;
}

.playersContainer > .player {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid darkred;
}

.player > img {
    width: 250px;
    height: 250px;
}